@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 131, 152);
}
.form{
  background-color: whitesmoke;
  width: 400px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px 12px 0 0;
}
.input-button{display: flex;}
.input-button input{
  padding: 8px 8px;
  background-color: transparent;
  border: 1px solid rgb(151, 149, 149);
  border-radius: 8px;
  font-size: 1.1rem;
}
.input-button button{
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
  background-color: transparent;
  border: 1px solid rgb(151, 149, 149);
  border-radius: 8px;
  color: gray;
}
.input-button button:hover{
  border: 1px solid rgb(117, 116, 116);
  color: rgb(96, 95, 95);
}
input:focus{outline: none;}
.todo{
  background-color: whitesmoke;
  border-bottom: 1px solid rgb(183, 178, 178);
  padding: 8px 6px 8px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo i{
  font-size: 1.2rem;
  cursor: pointer;
}